
@model IEnumerable<Post>
@{
    ViewData["Title"] = "ProfilePage";
}


<link href="~/css/HomePage.css" rel="stylesheet" />

<section class="container my-4">
    <div class="row">
        <div class="col-12 col-lg-4 mb-3 ">
            <div class="row text-center shadows border-rad p-2">
                <div class="col-12 mb-2">
                    <img class="img-fluid col-lg-12 col-6" id="profileImg" src="~/Images/download.png" />
                    @*@Model.ToList()[0].User.ProfilePic*@
                </div>
                <div class="col-6 mb-2 col-lg-12 offset-3 offset-lg-0">
                    <button class="btn text-left animated-button upld-btn">
                        <i class="icon-margin fa fa-camera camera-icon"></i> Upload Picture
                    </button>
                </div>
                <div class="col-12 text-left-cus mb-2">
                    <h2 id="fname" class="d-inline">@Model.ToList()[0].User.FirstName</h2> <h2 id="lname" class="d-inline">  @Model.ToList()[0].User.LastName</h2>
                </div>
                <div class="col-12 text-left-cus mb-2">
                    <h6 class="d-inline">Bio: </h6> <p class="d-inline" id="Bio">@Model.ToList()[0].User.Bio</p>
                </div>
                <div class="col-12 text-left-cus mb-2">
                    <h6 class="d-inline">Birthdate:</h6> <p class="d-inline" id="bdate">@Model.ToList()[0].User.BirthDate</p>
                </div>
                <div class="col-12 text-left-cus mb-2">
                    <h6 class="d-inline">Gender:</h6> <p class="d-inline">@Model.ToList()[0].User.Gender</p>
                </div>
                <div class="col-12 text-left-cus mb-2">
                    <h6 class="d-inline">Phone:</h6> <p class="d-inline" id="phone">@Model.ToList()[0].User.PhoneNumber</p>
                </div>
                <div class="col-12 mb-2">
                    <button class="btn animated-button upld-btn-sm upld-btn" onclick="showupdateProfile('@Model.ToList()[0].User.Id')">Update Info</button>
                </div>

                <div class="card shadows col-6 offset-3 offset-lg-0 col-lg-12 mb-3">
                    <div class="card-header">
                        <div class="col-12">
                            <h5 class="h7">Friends</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12 mb-2">
                            @foreach (var item in ViewData["Friends"] as IList<User>)
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <img src="~/Images/@item.ProfilePic" class="friend_img" />
                                    </div>
                                    <div class="col-8">
                                        <a href="#" class="usr-name"><h6>@item.FirstName @item.LastName</h6></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card col-6 offset-3 offset-lg-0 col-lg-12 mb-3 border-rad ">
                    <div class="card-header">
                        <div class="col-12">
                            <h5 class="h7">Friend Requists</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-12 mb-2">
                            @foreach (var item in ViewData["FriendRequest"] as IList<User>)
                            {
                                <div class="row">
                                    <div class="col-4">
                                        <img src="~/Images/@item.ProfilePic" class="friend_img" />
                                    </div>
                                    <div class="col-8">
                                        <a href="#" class="usr-name"><h6>@item.FirstName @item.LastName</h6></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            @{await Html.RenderPartialAsync("newPostProfile");}

            <div id="AllPosts" style="margin-top:20px">
                @{await Html.RenderPartialAsync("PostedProfile", Model, ViewData);}
            </div>
        </div>
    </div>
</section>

@*Post update*@

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="mod">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="update">
            ...
            <div>aljshaknahknsdjflhksj,nf ksjdkfn skj,fn sk,mcn sdmn,bc snmdbc skdjm </div>
        </div>
    </div>
</div>

@*profile update*@

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="pmod">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="pupdate">
            ...
            <div>Profile update</div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="Lmodal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div id="LikeDiv" class="row" style="padding:3%">

            </div>
        </div>
    </div>
</div>


