@model User
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container" style="padding:6%;">
    <div class="row">
        <img src="~/Images/download.png" class="circle img-fluid" style="float:left" />
        <div class="row d-inline-block" style="margin-left:2px ;float:left;">
            <a href="#" class="btn-link"><h6 class="col-12">@Model.UserName</h6></a>
            <p class="col-12 ">@Model.Email</p>
        </div>
    </div>
    <hr />
    
    <input value="@Model.PhoneNumber" id="newPhone"/>
    <input value="@Model.UserName" id="newName"/>
    @{
        if (Model.ProfilePic != null)
        {
            <img src="~/Images/@Model.ProfilePic" width="200" height="200" id="newProfilePic" />
        }
        else
        {
            <img src="" id="newProfilePic" width="200" height="200" style="display:none" />
        }
    }
    <hr />
    <input type="button" class="offset-4 col-2 btn btn-primary" value="Update" onclick="updateProfile('@Model.Id')" />

</div>